DB_HOST=YOUR_HOST
DB_PORT=YOUR_PORT
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD

DEBUG=YOUR_OPTION
SECRET_KEY=YOUR_SECRET_KEY

API_HOST=YOUR_API_HOST
API_PORT=YOUR_API_PORT
MASTER_ENCRYPTION_KEY=YOUR_MASTER_ENCRYPTION_KEY
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nYOUR_JWT_PUBLIC_KEY\n-----END PUBLIC KEY-----"
JWT_PRIVATE_KEY=YOUR_JWT_PRIVATE_KEY
